<div class="wrapper">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="container" *ngIf="!isLoading">
        <form class="add" [formGroup]="form" (submit)="addNewTask()">
            <mat-form-field>
                <mat-label>Task</mat-label>
                <textarea formControlName="description" matInput cols="30" rows="9"></textarea>
            </mat-form-field>
            <div class="error_container">
                <mat-error class="error"
                    *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">Enter
                    value</mat-error>
                <ng-container class="error" *ngIf="form.get('description')?.hasError('minlength')">Enter more than 3
                    characters</ng-container>
                <ng-container class="error" *ngIf="form.get('description')?.hasError('maxlength')">Enter less than 500
                    characters</ng-container>
            </div>
            <div class="action">
                <button class="button_main" type="submit">Add New </button>
            </div>
        </form>
        <div class="tasks">
            <ul *ngFor="let task of allTasks">
                <li class="task_card">
                    <mat-checkbox class="example-margin" [color]="'primary'" [checked]="task.isDone"
                        (change)="onChangeIsDone($event.checked, task)"></mat-checkbox>
                    <div class="text">{{task.description}} </div>
                    <div class="task_action">
                        <button class="button_main blue" routerLink="/task/edit-page/{{task.id}}">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="button_main red" (click)="deleteTask(task.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>