@import '/src/styles.scss';

.wrapper{
    display: flex;
    justify-content: center;   
}

form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action{
    display: flex;
    justify-content: center;
}

.error_container{
    margin-top: 7px;
    height: 45px;
    text-align: center;
    color: $color_red;
    font-weight: 500;
}