@import '../styles.scss';

main {
    background: rgb(205, 213, 222);
    background: linear-gradient(90deg, rgba(205, 213, 222, 1) 0%, rgba(126, 160, 185, 1) 100%);
    margin: 0;
    padding: 0;
    min-height: 91vh;
}


mat-toolbar {
    background-color: $color_dark_blue;
    display: flex;
    // justify-content: space-between;
    z-index: 2;
    position: relative;
}

app-header{
    display: flex;
    flex-grow: 1;
}