<div class="wrapper">
    <ng-container *ngIf="isAuthenticated">
        <a class="sidebar_button" routerLink="task/all">Tasks</a>
    </ng-container>
    <div class="auth_action">
        <ng-container *ngIf="!isAuthenticated">
            <a class="sidebar_button" routerLink="login">LogIn</a>
            <a class="sidebar_button" routerLink="signUp">SignUp</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated">
            <a routerLink="/signup" class=" logout sidebar_button" (click)="logout()">LogOut</a>
        </ng-container>
    </div>
</div>