@import '/src/styles.scss';

.wrapper{
    display: flex;
    width: 100%;
    height: 70vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}

.sidebar_button{
    padding: 5px;
    margin: 10px;
    background-color: $color_main_blue;
    border: none;
    font-size: 18px;
    font-weight: 500;
    color: $color_extra_dark_blue;
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover{
        color: black;
    }
}

.auth_action{
    display: flex;
    flex-direction: column;
}