@import '/src/styles.scss';

.wrapper{
    display: flex;
    justify-content: center;   
}

form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

mat-form-field{
    width: 300px;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error_container{
    margin-top: 10px;
    height: 45px;
    text-align: center;
    color: $color_red;
    font-weight: 500;
}

.redirect{
    font-size: 18px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link{
    cursor: pointer;
    color: $color_extra_dark_blue;
    font-weight: 500;
}

.link_container{
    text-align: center;
}

.empty_box{
    height: 50px;

}