<div class="wrapper">
    <form class="add" [formGroup]="form" (submit)="addNewTask()">
        <input class="custom_input" type="text" formControlName="description">
        <div>
            <button class="button_main" type="submit">Add New </button>
        </div>
    </form>

    <div class="tasks">
        <ul *ngFor="let task of allTasks">
            <li class="task_card">
                <div class="text">{{task.description}} </div>
                <div>
                    <button class="button_main" routerLink="/edit-page/{{task.id}}">Edit</button>
                    <button class="button_main" (click)="deleteTask(task.id!)">Delete </button>
                </div>
            </li>
        </ul>
    </div>
</div>