@import '/src/styles.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add {
    margin: 30px auto 0 auto ;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

mat-form-field{
   width: 640px;
}

.tasks {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    width: 100%;
}

.task_card {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-grow: 1;
}

input[type="file"] {
    visibility: hidden;
}

.action {
    display: flex;
    justify-content: center;
}

mat-spinner {
    z-index: 2;
    margin: 100px auto;
}

.error_container {
    margin-top: 7px;
    height: 20px;
    text-align: center;
    color: $color_red;
    font-weight: 500;
}

.red {
    background-color: $color_red;
    border: 2px solid $color_red;

    &:hover {
        background-color: $color_red;
        border: 2px solid black;
    }
}

.task_action{
    display: flex;
}

.blue{
    background-color: $color_dark_blue;
}

@media (max-width: 768px) {
    mat-form-field{
        width: 320px;
    }
}