/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}



//   <--- Variables --->

$color_red: #e63946;
$color_grey: #f1faee;
$color_main_blue: #7ea0b9;
$color_light_blue: #a8dadc;
$color_dark_blue: #457b9d;
$color_extra_dark_blue: #1d3557;


.button_main {
    background-color: $color_grey;
    font-weight: 400;
    font-size: 20px;
    margin: 6px;
    border: 2px solid $color_grey;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    transition: all .2s ease-in;
    text-transform: capitalize;
    display: flex;
    align-items: center;

    &:hover {
        background-color: $color_light_blue;
        border: 2px solid $color_dark_blue;
    }
}

li {
    background-color: white;
    box-shadow: 8px 14px 11px -5px rgba(66, 68, 90, 1);
    padding: 6px;
    margin: 6px;
    width: 65vw;
    list-style: none;
    color: $color_extra_dark_blue;
    font-weight: 600;
    border-radius: 10px;
}