.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add{
    margin: 50px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.tasks{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.task_card{
    display: flex;
    align-items: baseline;
}

.text{
    display: flex;
    flex-grow: 1;
}

input[type="file"]{
    visibility: hidden;
}

