<div class="wrapper">
    <form #edit="ngForm" (ngSubmit)="editTask(edit.value.description)">
        <mat-form-field *ngIf="currentTask">
            <textarea matInput type="text" [(ngModel)]="currentTask.description" name="description" ngModel
                minlength="1" #description required></textarea>
        </mat-form-field>
        <div class="actions">
            <button class="button_main" type="submit" [disabled]="edit.invalid">Edit</button>
            <button class="button_main cancel">Cancel</button>
        </div>
    </form>
</div>